<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<p>多文件上传</p>
<form method="POST" enctype="multipart/form-data" action="/dynamic/getMessageCode">
    <p><input type="text" name="dynamicType" value="0"/></p>
    <p><input type="text" name="isOnePicture" value="0"/></p>
    <p>选择文件：<input type="file" name="fileName"/></p>
    <p>选择文件：<input type="file" name="fileName"/></p>
    <p>选择文件：<input type="file" name="fileName"/></p>

    <p><input type="submit" value="上传"/></p>


</form>
</body>
</html>