<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="haihuang.mapper.HhDictionariesMapper" >
  <resultMap id="BaseResultMap" type="haihuang.bean.HhDictionaries" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="details_name" property="detailsName" jdbcType="VARCHAR" />
    <result column="details1" property="details1" jdbcType="VARCHAR" />
    <result column="details2" property="details2" jdbcType="VARCHAR" />
    <result column="details3" property="details3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, group_id, details_name, details1, details2, details3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="haihuang.bean.HhDictionariesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from hh_dictionaries
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hh_dictionaries
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hh_dictionaries
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="haihuang.bean.HhDictionariesExample" >
    delete from hh_dictionaries
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="haihuang.bean.HhDictionaries" >
    insert into hh_dictionaries (id, group_id, details_name, 
      details1, details2, details3
      )
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=VARCHAR}, #{detailsName,jdbcType=VARCHAR}, 
      #{details1,jdbcType=VARCHAR}, #{details2,jdbcType=VARCHAR}, #{details3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="haihuang.bean.HhDictionaries" >
    insert into hh_dictionaries
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="detailsName != null" >
        details_name,
      </if>
      <if test="details1 != null" >
        details1,
      </if>
      <if test="details2 != null" >
        details2,
      </if>
      <if test="details3 != null" >
        details3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="detailsName != null" >
        #{detailsName,jdbcType=VARCHAR},
      </if>
      <if test="details1 != null" >
        #{details1,jdbcType=VARCHAR},
      </if>
      <if test="details2 != null" >
        #{details2,jdbcType=VARCHAR},
      </if>
      <if test="details3 != null" >
        #{details3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="haihuang.bean.HhDictionariesExample" resultType="java.lang.Integer" >
    select count(*) from hh_dictionaries
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hh_dictionaries
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.groupId != null" >
        group_id = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.detailsName != null" >
        details_name = #{record.detailsName,jdbcType=VARCHAR},
      </if>
      <if test="record.details1 != null" >
        details1 = #{record.details1,jdbcType=VARCHAR},
      </if>
      <if test="record.details2 != null" >
        details2 = #{record.details2,jdbcType=VARCHAR},
      </if>
      <if test="record.details3 != null" >
        details3 = #{record.details3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hh_dictionaries
    set id = #{record.id,jdbcType=BIGINT},
      group_id = #{record.groupId,jdbcType=VARCHAR},
      details_name = #{record.detailsName,jdbcType=VARCHAR},
      details1 = #{record.details1,jdbcType=VARCHAR},
      details2 = #{record.details2,jdbcType=VARCHAR},
      details3 = #{record.details3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="haihuang.bean.HhDictionaries" >
    update hh_dictionaries
    <set >
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="detailsName != null" >
        details_name = #{detailsName,jdbcType=VARCHAR},
      </if>
      <if test="details1 != null" >
        details1 = #{details1,jdbcType=VARCHAR},
      </if>
      <if test="details2 != null" >
        details2 = #{details2,jdbcType=VARCHAR},
      </if>
      <if test="details3 != null" >
        details3 = #{details3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="haihuang.bean.HhDictionaries" >
    update hh_dictionaries
    set group_id = #{groupId,jdbcType=VARCHAR},
      details_name = #{detailsName,jdbcType=VARCHAR},
      details1 = #{details1,jdbcType=VARCHAR},
      details2 = #{details2,jdbcType=VARCHAR},
      details3 = #{details3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>