<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="haihuang.mapper.HhDynamicTopicMapper" >
  <resultMap id="BaseResultMap" type="haihuang.bean.HhDynamicTopic" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="count" property="count" jdbcType="BIGINT" />
    <result column="topic" property="topic" jdbcType="VARCHAR" />
    <result column="creatime" property="creatime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, count, topic, creatime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="haihuang.bean.HhDynamicTopicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from hh_dynamic_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hh_dynamic_topic
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hh_dynamic_topic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="haihuang.bean.HhDynamicTopicExample" >
    delete from hh_dynamic_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="haihuang.bean.HhDynamicTopic" >
    insert into hh_dynamic_topic (id, count, topic, 
      creatime)
    values (#{id,jdbcType=BIGINT}, #{count,jdbcType=BIGINT}, #{topic,jdbcType=VARCHAR}, 
      #{creatime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="haihuang.bean.HhDynamicTopic" >
    insert into hh_dynamic_topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="topic != null" >
        topic,
      </if>
      <if test="creatime != null" >
        creatime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="count != null" >
        #{count,jdbcType=BIGINT},
      </if>
      <if test="topic != null" >
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="creatime != null" >
        #{creatime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="haihuang.bean.HhDynamicTopicExample" resultType="java.lang.Integer" >
    select count(*) from hh_dynamic_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hh_dynamic_topic
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=BIGINT},
      </if>
      <if test="record.topic != null" >
        topic = #{record.topic,jdbcType=VARCHAR},
      </if>
      <if test="record.creatime != null" >
        creatime = #{record.creatime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hh_dynamic_topic
    set id = #{record.id,jdbcType=BIGINT},
      count = #{record.count,jdbcType=BIGINT},
      topic = #{record.topic,jdbcType=VARCHAR},
      creatime = #{record.creatime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="haihuang.bean.HhDynamicTopic" >
    update hh_dynamic_topic
    <set >
      <if test="count != null" >
        count = #{count,jdbcType=BIGINT},
      </if>
      <if test="topic != null" >
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="creatime != null" >
        creatime = #{creatime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="haihuang.bean.HhDynamicTopic" >
    update hh_dynamic_topic
    set count = #{count,jdbcType=BIGINT},
      topic = #{topic,jdbcType=VARCHAR},
      creatime = #{creatime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>