<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="haihuang.mapper.HhUserMapper" >
  <resultMap id="BaseResultMap" type="haihuang.bean.HhUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_photo" property="userPhoto" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="is_edit_sex" property="isEditSex" jdbcType="INTEGER" />
    <result column="empirical_value" property="empiricalValue" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="grade_photo" property="gradePhoto" jdbcType="VARCHAR" />
    <result column="ranks" property="ranks" jdbcType="INTEGER" />
    <result column="ranks_order" property="ranksOrder" jdbcType="BIGINT" />
    <result column="article_energy_min" property="articleEnergyMin" jdbcType="INTEGER" />
    <result column="article_energy_max" property="articleEnergyMax" jdbcType="INTEGER" />
    <result column="belong_to_the_sea" property="belongToTheSea" jdbcType="INTEGER" />
    <result column="online" property="online" jdbcType="INTEGER" />
    <result column="logout_time" property="logoutTime" jdbcType="TIMESTAMP" />
    <result column="login_method" property="loginMethod" jdbcType="INTEGER" />
    <result column="hhId" property="hhid" jdbcType="VARCHAR" />
    <result column="limits" property="limits" jdbcType="BIGINT" />
    <result column="idiograph" property="idiograph" jdbcType="VARCHAR" />
    <result column="my_background_image" property="myBackgroundImage" jdbcType="VARCHAR" />
    <result column="myDetails_background_image" property="mydetailsBackgroundImage" jdbcType="VARCHAR" />
    <result column="gift_Id" property="giftId" jdbcType="BIGINT" />
    <result column="room_id" property="roomId" jdbcType="BIGINT" />
    <result column="dynamic_id" property="dynamicId" jdbcType="BIGINT" />
    <result column="money_id" property="moneyId" jdbcType="BIGINT" />
    <result column="thirdPartyAccount" property="thirdpartyaccount" jdbcType="VARCHAR" />
    <result column="year_of_birth" property="yearOfBirth" jdbcType="VARCHAR" />
    <result column="month_of_birth" property="monthOfBirth" jdbcType="VARCHAR" />
    <result column="day_of_birth" property="dayOfBirth" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, real_name, user_name, user_photo, mobile_phone, pass_word, id_card, age, area, 
    sex, is_edit_sex, empirical_value, grade, grade_photo, ranks, ranks_order, article_energy_min, 
    article_energy_max, belong_to_the_sea, online, logout_time, login_method, hhId, limits, 
    idiograph, my_background_image, myDetails_background_image, gift_Id, room_id, dynamic_id, 
    money_id, thirdPartyAccount, year_of_birth, month_of_birth, day_of_birth, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="haihuang.bean.HhUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from hh_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hh_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hh_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="haihuang.bean.HhUserExample" >
    delete from hh_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="haihuang.bean.HhUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into hh_user (id, real_name, user_name, 
      user_photo, mobile_phone, pass_word, 
      id_card, age, area, 
      sex, is_edit_sex, empirical_value, 
      grade, grade_photo, ranks, 
      ranks_order, article_energy_min, article_energy_max, 
      belong_to_the_sea, online, logout_time, 
      login_method, hhId, limits, 
      idiograph, my_background_image, myDetails_background_image, 
      gift_Id, room_id, dynamic_id, 
      money_id, thirdPartyAccount, year_of_birth, 
      month_of_birth, day_of_birth, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{realName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPhoto,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{area,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{isEditSex,jdbcType=INTEGER}, #{empiricalValue,jdbcType=INTEGER}, 
      #{grade,jdbcType=INTEGER}, #{gradePhoto,jdbcType=VARCHAR}, #{ranks,jdbcType=INTEGER}, 
      #{ranksOrder,jdbcType=BIGINT}, #{articleEnergyMin,jdbcType=INTEGER}, #{articleEnergyMax,jdbcType=INTEGER}, 
      #{belongToTheSea,jdbcType=INTEGER}, #{online,jdbcType=INTEGER}, #{logoutTime,jdbcType=TIMESTAMP}, 
      #{loginMethod,jdbcType=INTEGER}, #{hhid,jdbcType=VARCHAR}, #{limits,jdbcType=BIGINT}, 
      #{idiograph,jdbcType=VARCHAR}, #{myBackgroundImage,jdbcType=VARCHAR}, #{mydetailsBackgroundImage,jdbcType=VARCHAR}, 
      #{giftId,jdbcType=BIGINT}, #{roomId,jdbcType=BIGINT}, #{dynamicId,jdbcType=BIGINT}, 
      #{moneyId,jdbcType=BIGINT}, #{thirdpartyaccount,jdbcType=VARCHAR}, #{yearOfBirth,jdbcType=VARCHAR}, 
      #{monthOfBirth,jdbcType=VARCHAR}, #{dayOfBirth,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="haihuang.bean.HhUser" >
    insert into hh_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPhoto != null" >
        user_photo,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="passWord != null" >
        pass_word,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="isEditSex != null" >
        is_edit_sex,
      </if>
      <if test="empiricalValue != null" >
        empirical_value,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="gradePhoto != null" >
        grade_photo,
      </if>
      <if test="ranks != null" >
        ranks,
      </if>
      <if test="ranksOrder != null" >
        ranks_order,
      </if>
      <if test="articleEnergyMin != null" >
        article_energy_min,
      </if>
      <if test="articleEnergyMax != null" >
        article_energy_max,
      </if>
      <if test="belongToTheSea != null" >
        belong_to_the_sea,
      </if>
      <if test="online != null" >
        online,
      </if>
      <if test="logoutTime != null" >
        logout_time,
      </if>
      <if test="loginMethod != null" >
        login_method,
      </if>
      <if test="hhid != null" >
        hhId,
      </if>
      <if test="limits != null" >
        limits,
      </if>
      <if test="idiograph != null" >
        idiograph,
      </if>
      <if test="myBackgroundImage != null" >
        my_background_image,
      </if>
      <if test="mydetailsBackgroundImage != null" >
        myDetails_background_image,
      </if>
      <if test="giftId != null" >
        gift_Id,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="dynamicId != null" >
        dynamic_id,
      </if>
      <if test="moneyId != null" >
        money_id,
      </if>
      <if test="thirdpartyaccount != null" >
        thirdPartyAccount,
      </if>
      <if test="yearOfBirth != null" >
        year_of_birth,
      </if>
      <if test="monthOfBirth != null" >
        month_of_birth,
      </if>
      <if test="dayOfBirth != null" >
        day_of_birth,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhoto != null" >
        #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="isEditSex != null" >
        #{isEditSex,jdbcType=INTEGER},
      </if>
      <if test="empiricalValue != null" >
        #{empiricalValue,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="gradePhoto != null" >
        #{gradePhoto,jdbcType=VARCHAR},
      </if>
      <if test="ranks != null" >
        #{ranks,jdbcType=INTEGER},
      </if>
      <if test="ranksOrder != null" >
        #{ranksOrder,jdbcType=BIGINT},
      </if>
      <if test="articleEnergyMin != null" >
        #{articleEnergyMin,jdbcType=INTEGER},
      </if>
      <if test="articleEnergyMax != null" >
        #{articleEnergyMax,jdbcType=INTEGER},
      </if>
      <if test="belongToTheSea != null" >
        #{belongToTheSea,jdbcType=INTEGER},
      </if>
      <if test="online != null" >
        #{online,jdbcType=INTEGER},
      </if>
      <if test="logoutTime != null" >
        #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginMethod != null" >
        #{loginMethod,jdbcType=INTEGER},
      </if>
      <if test="hhid != null" >
        #{hhid,jdbcType=VARCHAR},
      </if>
      <if test="limits != null" >
        #{limits,jdbcType=BIGINT},
      </if>
      <if test="idiograph != null" >
        #{idiograph,jdbcType=VARCHAR},
      </if>
      <if test="myBackgroundImage != null" >
        #{myBackgroundImage,jdbcType=VARCHAR},
      </if>
      <if test="mydetailsBackgroundImage != null" >
        #{mydetailsBackgroundImage,jdbcType=VARCHAR},
      </if>
      <if test="giftId != null" >
        #{giftId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=BIGINT},
      </if>
      <if test="dynamicId != null" >
        #{dynamicId,jdbcType=BIGINT},
      </if>
      <if test="moneyId != null" >
        #{moneyId,jdbcType=BIGINT},
      </if>
      <if test="thirdpartyaccount != null" >
        #{thirdpartyaccount,jdbcType=VARCHAR},
      </if>
      <if test="yearOfBirth != null" >
        #{yearOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="monthOfBirth != null" >
        #{monthOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="dayOfBirth != null" >
        #{dayOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="haihuang.bean.HhUserExample" resultType="java.lang.Integer" >
    select count(*) from hh_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hh_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.realName != null" >
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhoto != null" >
        user_photo = #{record.userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilePhone != null" >
        mobile_phone = #{record.mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.passWord != null" >
        pass_word = #{record.passWord,jdbcType=VARCHAR},
      </if>
      <if test="record.idCard != null" >
        id_card = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.isEditSex != null" >
        is_edit_sex = #{record.isEditSex,jdbcType=INTEGER},
      </if>
      <if test="record.empiricalValue != null" >
        empirical_value = #{record.empiricalValue,jdbcType=INTEGER},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=INTEGER},
      </if>
      <if test="record.gradePhoto != null" >
        grade_photo = #{record.gradePhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.ranks != null" >
        ranks = #{record.ranks,jdbcType=INTEGER},
      </if>
      <if test="record.ranksOrder != null" >
        ranks_order = #{record.ranksOrder,jdbcType=BIGINT},
      </if>
      <if test="record.articleEnergyMin != null" >
        article_energy_min = #{record.articleEnergyMin,jdbcType=INTEGER},
      </if>
      <if test="record.articleEnergyMax != null" >
        article_energy_max = #{record.articleEnergyMax,jdbcType=INTEGER},
      </if>
      <if test="record.belongToTheSea != null" >
        belong_to_the_sea = #{record.belongToTheSea,jdbcType=INTEGER},
      </if>
      <if test="record.online != null" >
        online = #{record.online,jdbcType=INTEGER},
      </if>
      <if test="record.logoutTime != null" >
        logout_time = #{record.logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loginMethod != null" >
        login_method = #{record.loginMethod,jdbcType=INTEGER},
      </if>
      <if test="record.hhid != null" >
        hhId = #{record.hhid,jdbcType=VARCHAR},
      </if>
      <if test="record.limits != null" >
        limits = #{record.limits,jdbcType=BIGINT},
      </if>
      <if test="record.idiograph != null" >
        idiograph = #{record.idiograph,jdbcType=VARCHAR},
      </if>
      <if test="record.myBackgroundImage != null" >
        my_background_image = #{record.myBackgroundImage,jdbcType=VARCHAR},
      </if>
      <if test="record.mydetailsBackgroundImage != null" >
        myDetails_background_image = #{record.mydetailsBackgroundImage,jdbcType=VARCHAR},
      </if>
      <if test="record.giftId != null" >
        gift_Id = #{record.giftId,jdbcType=BIGINT},
      </if>
      <if test="record.roomId != null" >
        room_id = #{record.roomId,jdbcType=BIGINT},
      </if>
      <if test="record.dynamicId != null" >
        dynamic_id = #{record.dynamicId,jdbcType=BIGINT},
      </if>
      <if test="record.moneyId != null" >
        money_id = #{record.moneyId,jdbcType=BIGINT},
      </if>
      <if test="record.thirdpartyaccount != null" >
        thirdPartyAccount = #{record.thirdpartyaccount,jdbcType=VARCHAR},
      </if>
      <if test="record.yearOfBirth != null" >
        year_of_birth = #{record.yearOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="record.monthOfBirth != null" >
        month_of_birth = #{record.monthOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="record.dayOfBirth != null" >
        day_of_birth = #{record.dayOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hh_user
    set id = #{record.id,jdbcType=BIGINT},
      real_name = #{record.realName,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_photo = #{record.userPhoto,jdbcType=VARCHAR},
      mobile_phone = #{record.mobilePhone,jdbcType=VARCHAR},
      pass_word = #{record.passWord,jdbcType=VARCHAR},
      id_card = #{record.idCard,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      area = #{record.area,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      is_edit_sex = #{record.isEditSex,jdbcType=INTEGER},
      empirical_value = #{record.empiricalValue,jdbcType=INTEGER},
      grade = #{record.grade,jdbcType=INTEGER},
      grade_photo = #{record.gradePhoto,jdbcType=VARCHAR},
      ranks = #{record.ranks,jdbcType=INTEGER},
      ranks_order = #{record.ranksOrder,jdbcType=BIGINT},
      article_energy_min = #{record.articleEnergyMin,jdbcType=INTEGER},
      article_energy_max = #{record.articleEnergyMax,jdbcType=INTEGER},
      belong_to_the_sea = #{record.belongToTheSea,jdbcType=INTEGER},
      online = #{record.online,jdbcType=INTEGER},
      logout_time = #{record.logoutTime,jdbcType=TIMESTAMP},
      login_method = #{record.loginMethod,jdbcType=INTEGER},
      hhId = #{record.hhid,jdbcType=VARCHAR},
      limits = #{record.limits,jdbcType=BIGINT},
      idiograph = #{record.idiograph,jdbcType=VARCHAR},
      my_background_image = #{record.myBackgroundImage,jdbcType=VARCHAR},
      myDetails_background_image = #{record.mydetailsBackgroundImage,jdbcType=VARCHAR},
      gift_Id = #{record.giftId,jdbcType=BIGINT},
      room_id = #{record.roomId,jdbcType=BIGINT},
      dynamic_id = #{record.dynamicId,jdbcType=BIGINT},
      money_id = #{record.moneyId,jdbcType=BIGINT},
      thirdPartyAccount = #{record.thirdpartyaccount,jdbcType=VARCHAR},
      year_of_birth = #{record.yearOfBirth,jdbcType=VARCHAR},
      month_of_birth = #{record.monthOfBirth,jdbcType=VARCHAR},
      day_of_birth = #{record.dayOfBirth,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="haihuang.bean.HhUser" >
    update hh_user
    <set >
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhoto != null" >
        user_photo = #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="isEditSex != null" >
        is_edit_sex = #{isEditSex,jdbcType=INTEGER},
      </if>
      <if test="empiricalValue != null" >
        empirical_value = #{empiricalValue,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="gradePhoto != null" >
        grade_photo = #{gradePhoto,jdbcType=VARCHAR},
      </if>
      <if test="ranks != null" >
        ranks = #{ranks,jdbcType=INTEGER},
      </if>
      <if test="ranksOrder != null" >
        ranks_order = #{ranksOrder,jdbcType=BIGINT},
      </if>
      <if test="articleEnergyMin != null" >
        article_energy_min = #{articleEnergyMin,jdbcType=INTEGER},
      </if>
      <if test="articleEnergyMax != null" >
        article_energy_max = #{articleEnergyMax,jdbcType=INTEGER},
      </if>
      <if test="belongToTheSea != null" >
        belong_to_the_sea = #{belongToTheSea,jdbcType=INTEGER},
      </if>
      <if test="online != null" >
        online = #{online,jdbcType=INTEGER},
      </if>
      <if test="logoutTime != null" >
        logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginMethod != null" >
        login_method = #{loginMethod,jdbcType=INTEGER},
      </if>
      <if test="hhid != null" >
        hhId = #{hhid,jdbcType=VARCHAR},
      </if>
      <if test="limits != null" >
        limits = #{limits,jdbcType=BIGINT},
      </if>
      <if test="idiograph != null" >
        idiograph = #{idiograph,jdbcType=VARCHAR},
      </if>
      <if test="myBackgroundImage != null" >
        my_background_image = #{myBackgroundImage,jdbcType=VARCHAR},
      </if>
      <if test="mydetailsBackgroundImage != null" >
        myDetails_background_image = #{mydetailsBackgroundImage,jdbcType=VARCHAR},
      </if>
      <if test="giftId != null" >
        gift_Id = #{giftId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=BIGINT},
      </if>
      <if test="dynamicId != null" >
        dynamic_id = #{dynamicId,jdbcType=BIGINT},
      </if>
      <if test="moneyId != null" >
        money_id = #{moneyId,jdbcType=BIGINT},
      </if>
      <if test="thirdpartyaccount != null" >
        thirdPartyAccount = #{thirdpartyaccount,jdbcType=VARCHAR},
      </if>
      <if test="yearOfBirth != null" >
        year_of_birth = #{yearOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="monthOfBirth != null" >
        month_of_birth = #{monthOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="dayOfBirth != null" >
        day_of_birth = #{dayOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="haihuang.bean.HhUser" >
    update hh_user
    set real_name = #{realName,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_photo = #{userPhoto,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      area = #{area,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      is_edit_sex = #{isEditSex,jdbcType=INTEGER},
      empirical_value = #{empiricalValue,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER},
      grade_photo = #{gradePhoto,jdbcType=VARCHAR},
      ranks = #{ranks,jdbcType=INTEGER},
      ranks_order = #{ranksOrder,jdbcType=BIGINT},
      article_energy_min = #{articleEnergyMin,jdbcType=INTEGER},
      article_energy_max = #{articleEnergyMax,jdbcType=INTEGER},
      belong_to_the_sea = #{belongToTheSea,jdbcType=INTEGER},
      online = #{online,jdbcType=INTEGER},
      logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      login_method = #{loginMethod,jdbcType=INTEGER},
      hhId = #{hhid,jdbcType=VARCHAR},
      limits = #{limits,jdbcType=BIGINT},
      idiograph = #{idiograph,jdbcType=VARCHAR},
      my_background_image = #{myBackgroundImage,jdbcType=VARCHAR},
      myDetails_background_image = #{mydetailsBackgroundImage,jdbcType=VARCHAR},
      gift_Id = #{giftId,jdbcType=BIGINT},
      room_id = #{roomId,jdbcType=BIGINT},
      dynamic_id = #{dynamicId,jdbcType=BIGINT},
      money_id = #{moneyId,jdbcType=BIGINT},
      thirdPartyAccount = #{thirdpartyaccount,jdbcType=VARCHAR},
      year_of_birth = #{yearOfBirth,jdbcType=VARCHAR},
      month_of_birth = #{monthOfBirth,jdbcType=VARCHAR},
      day_of_birth = #{dayOfBirth,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>